* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
}

h1 {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

a:link,
a:visited {
  text-decoration: none;
  color: #444;
}

a:hover,
a:active {
  text-decoration: underline;
}
